@model ProjectSEM3.DAL.Models.Entity.Product
@using ProjectSEM3.DAL.Models.Entity
@using ProjectSEM3.Controllers

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
     List<Product> lstPro = ProductController.GetListProductInDetail();
}


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    @foreach (var item in lstPro)
                    {
                        <div class="thubmnail-recent">
                            <img src="~/Areas/Uploand/@item.Images" class="recent-thumb" alt="">
                            <h2><a href="">@item.Name</a></h2>
                            <div class="product-sidebar-price">
                                <ins>@item.price</ins> 
                            </div>
                        </div>
                    }

                   
                </div>


            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">Product</a>
                        <a href="">@Model.Name</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="~/Areas/Uploand/@Model.Images" alt="">
                                </div>

                                @*<div class="product-gallery">
                                        <img src="img/product-thumb-1.jpg" alt="">
                                        <img src="img/product-thumb-2.jpg" alt="">
                                        <img src="img/product-thumb-3.jpg" alt="">
                                    </div>*@
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.Name</h2>
                                <div class="product-inner-price">
                                    <ins>@Model.price</ins>
                                </div>

                                @using (Html.BeginForm("AddCart", "Product", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="id" name="id" value="@Model.Id" />
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" id="quantity" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                                }



                                <div role="tabpanel">

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">

                                            <p>@Model.Description</p>


                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

