@model IEnumerable<ProjectSEM3.Dto.ListCartDTO>
@{
    ViewBag.Title = "ListCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <form action="#">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                       
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="cart_item">
                                            <td class="product-remove">
                                                @Html.ActionLink("×", "Delete", new { id = item.Id })

                                            </td>

                                            <td class="product-thumbnail">
                                                <img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="~/Areas/Uploand/@item.Images">
                                            </td>

                                            <td class="product-name">
                                                <a href="single-product.html">@item.ProductName</a>
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">@item.Price</span>
                                            </td>
                                            @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="id" id="id" value="@item.Id" />
                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" id="quantity" value="@item.Quantity" name="quantity" min="1" step="1">
                                                        <button class="add_to_cart_button" type="submit">update</button>
                                                    </div>
                                                </td>
                                            }
                                            <td class="product-subtotal">
                                                <span class="amount">@item.TotalPrice</span>
                                            </td>
                                        </tr>
                                    }
                                        <tr>
                                            
                                            <td class="actions" colspan="6">

                                                @using (Html.BeginForm("UpdateStatusCart", "Cart", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <from>
                                                        @foreach (var item1 in Model)
                                                        {
                                                            <input type="hidden" name="totalPrice" id="totalPrice" value="@item1.TotalPrice" />
                                                            <input type="hidden" name="id" id="id" value="@item1.Id" />
                                                        }

                                                        <button type="submit" class="button">UPDATE CART</button>
                                                    </from>
                                                }
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                

                            </table>
                       

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




