@model ProjectSEM3.DAL.Models.Entity.Customer
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <br />

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Name</h5>
                        <p class="text-muted mb-1">@Model.Phone</p>
                        <p class="text-muted mb-4">@Model.Address</p>
                        <div class="d-flex justify-content-center mb-2">

                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">

                </div>
            </div>
            @using (Html.BeginForm("Profile", "Home", FormMethod.Post))
            {
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="Name" id="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="Address" id="Address" value="@Model.Address" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <input type="number" name="Phone" id="Phone" value="@Model.Phone" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"></div>
                                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                                <input type="hidden" name="Password" id="Password" value="@Model.Password" />
                                <div class="col-sm-3"><button type="submit">UPDATE</button></div>
                            </div>
                        </div>
                    </div>

                </div>
            }
            </div>
    </div>
</section>

